# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# IDE
.vscode/

# Reports
reports/*
!reports/.gitkeep

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
